/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .computer-text {
        width: 100%;
        text-align: center;
        padding-top: 10px;
        padding-right: 60px;
    }

    .computer-icon {
        width: 100%;
        text-align: center;
        margin: 10px auto;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .main-right {
        float: left;
        margin-top: 30px;
        width: 100%;
        text-align: center;
    }

    .feedback-container {
        margin-top: 30px;
    }

    .footer-section {
        margin-top: 30px;
        text-align: center;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .main-description-text {
        width: 100%;
        text-align: center;
        margin: 10px auto;
    }
    
    .main-description-icon {
        width: 100%;
        text-align: center;
    }

    #icon2 {
        margin: 10px auto;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .form-400 {
        width: 100%;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    .main-left {
        text-align: center;
    }
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}